{% extends 'website/themes/base.html.twig' %}
{% block title %}GALLERIE |
	{{APP_NAME}}
{% endblock %}
{% block body %}
	<!-- Breadcrumb Area Start -->
	<div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax" style="background-image: url({{asset('web/img/img-coco-beach-hotel6.JPG')}});">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="breadcrumb-content text-center mt-100">
						<h2 class="page-title">Gallerie</h2>
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb justify-content-center">
								<li class="breadcrumb-item">
									<a href="{{path('index')}}">Accueil</a>
								</li>
								<li class="breadcrumb-item active" aria-current="page">Gallerie</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcrumb Area End -->

	<div class="roberto-service-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="gallery">
						<a href="{{asset('web/img/img-coco-beach-hotel1.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel1.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel2.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel2.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel3.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel3.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel4.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel4.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel5.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel5.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel6.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel6.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel7.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel7.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel8.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel8.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel9.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel9.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel10.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel10.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel11.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel11.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel12.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel12.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel13.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel13.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel14.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel14.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel15.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel15.JPG')}}" alt=""/>
						</a>
						<a href="{{asset('web/img/img-coco-beach-hotel16.JPG')}}" data-lightbox="mygallery">
							<img src="{{asset('web/img/img-coco-beach-hotel16.JPG')}}" alt=""/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
